html, body {
    font-family: "Dosis", sans-serif;
}

.bg-black{
    background-color: #040404 !important;
}


.auto-text {
  mix-blend-mode: difference;
}

.menu-element{
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.menu-element .menu-element-item{
    color: white;
    transition: 0.1s all ease-in-out;

      position: relative;
  display: inline-block;
}


.menu-element .menu-element-item:hover{
    transform: translateY(-8px); 
    background-color: rgba(137, 137, 137, 0.518);
}

.menu-element .menu-element-item::after{
    content: attr(data-tooltip);
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #020202ac;
    color: white;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
    z-index: 10;

}

.menu-element-item:hover::after {
  opacity: 1;
}



.btn-cssbuttons {
 --btn-color: #275efe;
 position: relative;
 padding: 12px 18px;
 font-weight: 500;
 font-size: 16px;
 line-height: 1;
 color: white;
 background: none;
 border: none;
 outline: none;
 overflow: hidden;
 cursor: pointer;
 filter: drop-shadow(0 2px 8px rgba(39, 94, 254, 0.32));
 transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons::before {
 position: absolute;
 content: "";
 top: 0;
 left: 0;
 z-index: -1;
 width: 100%;
 height: 100%;
 background: var(--btn-color);
 border-radius: 12px;
 transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons span,
.btn-cssbuttons span span {
 display: inline-flex;
 vertical-align: middle;
 transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons span {
 transition-delay: 0.05s;
}

.btn-cssbuttons span:first-child {
 padding-right: 7px;
}

.btn-cssbuttons span span {
 margin-left: 8px;
 transition-delay: 0.1s;
}

.btn-cssbuttons ul {
 position: absolute;
 top: 50%;
 left: 0;
 right: 0;
 display: flex;
 margin: 0;
 padding: 0;
 list-style-type: none;
 transform: translateY(-50%);
}

.btn-cssbuttons ul li {
 flex: 1;
}

.btn-cssbuttons ul li a {
 display: inline-flex;
 vertical-align: middle;
 transform: translateY(55px);
 transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn-cssbuttons ul li a:hover {
 opacity: 0.5;
}

.btn-cssbuttons:hover::before {
 transform: scale(1.2);
}

.btn-cssbuttons:hover span,
.btn-cssbuttons:hover span span {
 transform: translateY(-55px);
}

.btn-cssbuttons:hover ul li a {
 transform: translateY(0);
}

.btn-cssbuttons:hover ul li:nth-child(1) a {
 transition-delay: 0.15s;
}

.btn-cssbuttons:hover ul li:nth-child(2) a {
 transition-delay: 0.2s;
}

.btn-cssbuttons:hover ul li:nth-child(3) a {
 transition-delay: 0.25s;
}

.card-custom{
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
}



.bg-world-map{
    background-image: url('/assets/photos/world-map.svg');
    background-position: center;
    background-size: cover;
}

.bg-glass{
  background: rgba(178, 178, 178, 0.15);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.bg-glass-light{
      background: rgba(232, 232, 232, 0.512);
}

.bg-glass-dark{
      background: rgba(32, 32, 32, 0.512);
}

.bg-glass-primary{
     background: #275dfe4a;
}

.bg-glass-warning{
     background: #ffc1074a;
}

.bg-glass-success{
     background: #1987544a;
}



.hover-photo-card .photo{
    transition: 0.2s all ease-in-out;
}
.hover-photo-card:hover .photo{
    scale: 1.1;
}



.eye-glass-hover:hover{
cursor: url('/assets/photos/eye-glass.svg') 16 16, auto;
}

.section-title{
    position: relative;
    display: inline-block;
    padding: 0 20px;
}

.section-title::before,
.section-title::after{
    content: "";
    position: absolute;
    top: 50%;
    width: 50px;
    height: 2px;
    background-color: #040404;
}

.section-title::before{
  left: 0;
  transform: translateX(-100%) translateY(-50%);
}

.section-title::after {
  right: 0;
  transform: translateX(100%) translateY(-50%);
}

.underline-left{
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

.underline-left::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30px;
    height: 2px;
    background-color: #040404;
}

.text-under-progress{
    opacity: 0;
    transform: translateY(-5px);
    display: inline-block;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.hover-text-under-progress:hover .text-under-progress{
    opacity: 1;
     transform: translateY(0);
}


.fs-12px{
    font-size: 12px;
}


/* From Uiverse.io by adamgiebl */ 
.cssbuttons-io-button {
  background: #0d6efd;
  color: white;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #0d6efd;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #0d6efd;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #0d6efd;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}
